DATABASE_URL=postgres://user:password@host/dbname

SPOTIFY_CLIENT_ID=
SPOTIFY_CLIENT_SECRET=
SPOTIFY_REDIRECT_URI=http://127.0.0.1:3000/auth/spotify/callback

JWT_SECRET=

FRONTEND_ORIGIN=http://localhost:5173
